body {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  





    /* PANTALLA GRANDE */
    @media (min-width: 1000px) {




        /* Estilos generales */
.Nosotros-container {
    width: 100%;
    padding: 0;
    margin: 3rem auto;
    
  }
  
  /* ---------- TITULO ---------- */
  .nosotros-title-portada {
    position: relative;
    width: 100%;  /* Asegura que ocupe todo el ancho de la pantalla */
    height: 80vh;  /* Fija la altura en el 80% de la pantalla */
    overflow: hidden;
  }
  
  .nosotros-title-portada img {
    width: 100%;
    height: 100%;  /* Asegura que la imagen ocupe todo el contenedor */
  }
  

  .img-1-nosotros {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    background-color: #fff;
    border-radius: 9px;
    width: 350px;
  }
  
  
  /* ---------- SECCIONES IZQUIERDA Y DERECHA ---------- */
  .nosotros-img-izquierda,
  .nosotros-img-derecha {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10%;
    gap: 30px;
  }
  
  .nosotros-img-izquierda img,
  .nosotros-img-derecha img {
    width: 500px;
    height: auto;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .nosotros-img-izquierda.active img,
  .nosotros-img-derecha.active img {
    opacity: 1;
    transform: translateY(0);
  }
  
  .nosotros-img-izquierda {
    flex-direction: row;
  }
  
  .nosotros-img-derecha {
    flex-direction: row-reverse;
  }
  
  .nosotros-img-izquierda div,
  .nosotros-img-derecha div {
    max-width: 500px;
    text-align: center;
  }
  
  .nosotros-img-izquierda h3,
  .nosotros-img-derecha h3 {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 10px;
    color: #ff0000;
    text-transform: uppercase;
  }
  
  .nosotros-img-izquierda p,
  .nosotros-img-derecha p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    font-weight: 600;
    text-align: center;
  }



  .nosotros-img-izquierda button,
.nosotros-img-derecha button {
  border-radius: 9px;
  border: none;
  font-size: 1.1rem;
  background-color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;  /* Para que sea clickeable */
  transition: background-color 0.3s ease;  /* Efecto suave */
}

.nosotros-img-izquierda button a,
.nosotros-img-derecha button a {
  display: block;
  text-decoration: none;
  color: #ff0000;
  width: 100%;
  text-align: center;
}

@keyframes vibrate {
    0% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    75% { transform: translateX(-2px); }
    100% { transform: translateX(0); }
  }
  
  .nosotros-img-izquierda button:hover,
  .nosotros-img-derecha button:hover {
    background-color: #fff;
    border: .5px solid #333;
    animation: vibrate 0.2s linear infinite; /* Hace que el botón vibre */
  }
  












/* ---------- REPRESENTANTES ---------- */
.representantes {
  padding: 40px 20px;
  margin-top: 70px;
  text-align: center;
  position: relative; /* Necesario para la imagen de fondo */
}

/* Imagen de fondo */
.representantes-img-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3; /* Opacidad de la imagen */
  z-index: -1; /* Asegura que la imagen esté detrás del contenido */
}

/* ---------- TÍTULO REPRESENTANTES ---------- */
.representantes-title {
  margin-bottom: 30px;
  line-height: .5;
  
}

.representantes-title h3 {
  font-size: 3rem;
  font-weight: bold;
  color: #ff0000;
}

.representantes-title p {
  font-size: 1.4rem;
  color: #333;
}

/* ---------- CARDS REPRESENTANTES ---------- */
.representantes-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.representantes-cards img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 150px; /* Ajusta el tamaño de las imágenes */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.representantes-cards img:hover {
  transform: scale(1.2); /* Efecto de aumento suave */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.0);
}

/* ---------- CONVENIO ---------- */
.convenio {
  margin-top: 100px;
}

.convenio h3 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ff0000;
  text-transform: uppercase;
  position: relative;
  top: 30px;

}

.convenio img {
 width: 400px;
  margin: 0 auto;
  display: block;
  border-radius: 20px;
}












}













     
   /* CELULAR */
   @media (max-width: 1000px) {
  
  
   }
